// Group Queue  Section
.group_queue_wrapper {
  .filter_btn_area {
    .table_dropdown_area {
      .dropdown-menu {
        min-width: 290px;
      }
    }
  }
}
.edit_queue_modal {
  .modal-dialog {
    max-width: 703px;
  }
}

//Batch Queue
.batch_queue_wrapper {
  .batch_details_table_area {
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
    border: 1px solid $gray-color-ea;
    @include max-media-width(767) {
      padding: 12px;
    }
  }
  .batch_details_btn {
    &:hover {
      opacity: 0.8;
    }
    span {
      color: $black-color-0b;
      font-family: SFSemiBoldFont;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
    img {
      @include hover-transition();
    }
  }
  .batch_active {
    .arrow_icon {
      transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
    }
  }
  .details_table_area {
    display: none;
    margin-top: 12px;
    margin-bottom: 24px;
  }
}

//Notification Page Section
.notification_page_wrapper {
  .notification_list_wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
  }
  .notifciation_list {
    max-height: none;
    li {
      padding: 4px;
      background-color: transparent !important;
      @include max-media-width(767) {
        grid-template-columns: minmax(0, 40px) minmax(0, 1fr);
        align-items: start;
        gap: 12px;
      }
    }
  }
  .action_area {
    gap: 10px;
    @include max-media-width(767) {
      grid-column: span 2;
    }
  }
  .action_btn_list,
  .dot {
    @include max-media-width(991) {
      opacity: 1;
      visibility: visible;
    }
  }
}

//Claims Section
.claims_section_wrapper {
  .template_filter_area {
    @include max-media-width(767) {
      justify-content: end;
    }
    .filter_btn_area {
      @include max-media-width(767) {
        order: 1;
      }
    }
    .search_input_form {
      @include max-media-width(767) {
        order: 2;
        max-width: none;
        width: 100%;
      }
    }
  }
}

/* Price Section */
.pricing_wrapper {
  margin-top: 0px;
  .pricing_title {
    font-size: 34px;
    @include media-break-width(992, 1199) {
      font-size: 30;
    }
    @include media-break-width(768, 991) {
      font-size: 24;
    }
    @include max-media-width(767) {
      font-size: 20;
    }
  }
  .pricing_grid {
    margin-top: 40px;
    @include max-media-width(1199) {
      gap: 30px 20px;
    }
  }
  &.inclusive_pricing_wrapper {
    margin-top: 80px;
  }
}

/* Success Page */
.success_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px 16px;
  text-align: center;
  min-height: calc(100vh - 96px);
  @include max-media-width(767) {
    min-height: calc(100vh - 86px);
  }
  .success_image {
    max-width: 100px;
  }
  h1 {
    font-family: SFSemiBoldFont;
    font-size: 36px;
    font-weight: 600;
    color: $green-color-54;
    @include media-break-width(992, 1199) {
      font-size: 34px;
    }
    @include max-media-width(991) {
      font-size: 28px;
    }
  }
  p {
    font-family: SFMediumFont;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    @include media-break-width(768, 991) {
      font-size: 16px;
    }
    @include max-media-width(767) {
      font-size: 14px;
    }
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    @include max-media-width(767) {
      font-size: 16px;
    }
    span {
      color: $red-color-e8;
    }
  }
}
