.landing_inner_title {
  color: #14358a;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50.4px;
  letter-spacing: -1.44px;
  @include media-break-width(992, 1199) {
    font-size: 40px;
    line-height: 42.4px;
  }
  @include media-break-width(768, 991) {
    font-size: 32px;
    line-height: 44.4px;
  }
  @include max-media-width(767) {
    font-size: 28px;
    line-height: 30.4px;
  }
}
.pricing_title {
  color: #14358a;
  font-family: $inter-font;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @include media-break-width(992, 1199) {
    font-size: 50px;
  }
  @include media-break-width(768, 991) {
    font-size: 40px;
  }
  @include max-media-width(767) {
    font-size: 34px;
  }
}
.business_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #14348a;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 18px 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #14348a;
  background: #e5f9fe;
  @include media-break-width(992, 1199) {
    padding: 18px 30px;
  }
  @include media-break-width(768, 991) {
    padding: 14px 24px;
  }
  @include max-media-width(767) {
    font-size: 14px;
    padding: 12px 20px;
  }
  &:hover {
    background: #dfedf0;
  }
}
.choose_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: $inter-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  height: 51px;
  border-radius: 10px;
  background: linear-gradient(52deg, #0097fe -5.7%, #14358a 94.69%);
  @include max-media-width(767) {
    font-size: 14px;
  }
  &:hover {
    color: #fff;
    background: linear-gradient(52deg, #1c8dd9 -5.7%, #2858d0 94.69%);
  }
}
.submit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: $inter-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 196.823px;
  height: 50.823px;
  padding: 12px;
  border-radius: 5px;
  background: linear-gradient(86deg, #038aef 0%, #124097 100%);

  @include max-media-width(991) {
    font-size: 14px;
    width: 160px;
    height: 44px;
  }
  &:hover {
    background: linear-gradient(45deg, #1a92ed 0%, #1d5dd4 100%);
  }
}
.contact_sale_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b2f9b;
  text-align: center;
  font-family: $inter-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 234px;
  height: 55px;
  border-radius: 5px;
  background: #fff;
  &:hover {
    opacity: 0.9;
  }

  @include media-break-width(768, 991) {
    height: 48px;
  }
  @include max-media-width(767) {
    font-size: 14px;
    height: 44px;
  }
}
/* Pricing Section */

.pricing_wrapper {
  margin-top: 147px;
  padding-bottom: 20px;
  overflow: hidden;
  @include media-break-width(768, 991) {
    margin-top: 100px;
  }
  @include max-media-width(767) {
    margin-top: 60px;
  }
  .header_area {
    h5 {
      max-width: 598px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .pricing_grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px 60px;
    margin-top: 161px;
    @include media-break-width(992, 1199) {
      gap: 30px 20px;
    }
    @include media-break-width(768, 991) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 30px 40px;
      margin-top: 120px;
    }
    @include max-media-width(767) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 30px 40px;
      margin-top: 70px;
    }
  }

  .pricing_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 26px 25px;
    border-radius: 24px;
    height: 100%;
    background: #e5f9fe;
    @include hover-transition();
    @include media-break-width(768, 991) {
      padding: 26px 20px;
    }
    @include max-media-width(767) {
      padding: 26px 16px;
    }
    &:hover {
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
    }
    &.premium_pricing_item {
      background: #005fe7;
      h3,
      .price {
        color: white;
        span {
          color: rgba(255, 255, 255, 0.68);
        }
      }
      ul {
        li {
          h4 {
            color: white;
          }
        }
      }
      .choose_btn {
        color: #005fe7;
        background: white;
        &:hover {
          color: #005fe7;
          background: rgb(238, 238, 238);
        }
      }
    }
    h3,
    .price {
      color: #005fe7;
      font-family: $inter-font;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @include max-media-width(991) {
        font-size: 20px;
      }
      span {
        color: #181059;
        font-family: $inter-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include max-media-width(991) {
          font-size: 14px;
        }
      }
    }
    .price {
      text-align: start;
    }
    ul {
      margin-top: 22px;
      li {
        display: grid;
        grid-template-columns: minmax(0, 12px) repeat(1, minmax(0, 1fr));
        align-items: center;
        gap: 10px 20px;
        margin-bottom: 15px;
        @include max-media-width(991) {
          margin-bottom: 12px;
        }
        @include max-media-width(767) {
          gap: 10px 12px;
        }
      }
      .icon {
        img {
          max-width: 12px;
        }
      }
      h4 {
        color: #68718b;
        font-family: $inter-font;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include max-media-width(767) {
          font-size: 14px;
        }
      }
    }
  }
  .choose_btn {
    margin-top: 24px;
  }
}

/* Inclusive Section */
.inclusive_pricing_wrapper {
  overflow: hidden;
  margin-top: 218px;
  @include media-break-width(992, 1199) {
    margin-top: 180px;
  }
  @include media-break-width(768, 991) {
    margin-top: 140px;
  }
  @include max-media-width(767) {
    margin-top: 100px;
  }
  .header_area {
    h5 {
      max-width: 665px;
    }
  }
  .pricing_grid {
    margin-top: 59px;
    @include media-break-width(768, 991) {
      margin-top: 40px;
    }
    @include max-media-width(767) {
      margin-top: 30px;
    }
  }
  .pricing_item {
    h3 {
      text-align: start;
    }
    .price {
      text-align: center;
      margin-top: 38px;
      @include max-media-width(991) {
        margin-top: 16px;
      }
    }
    ul {
      margin-top: 43px;
      @include max-media-width(991) {
        margin-top: 20px;
      }
      li {
        align-items: start;
        gap: 5px;
      }
    }
  }
  .choose_btn {
    height: 60px;
    margin-top: 36px;
    @include max-media-width(991) {
      height: 50px;
      margin-top: 20px;
    }
  }
}
